#infinite-list {
    width: 1000px;
    height: 600px;
    overflow: auto;
  
    margin: 40px;
    padding: 30px;
      }
  
  li {
    padding: 9px;
    padding-left: 499px;
    list-style-type: none;
  }
  li:hover {
    background: #16537e;
  }
  
