#infinite-list {
    width: 1000px;
    height: 600px;
    overflow: auto;
  
    margin: 40px;
    padding: 30px;
      }
  
  li {
    padding: 10px;
    padding-left: 500px;
    list-style-type: none;
  }
  li:hover {
    background: #ccc;
  }
  
